.head-img img{
    width: 400px;
    margin-top: 5px;
}
.space{
    justify-content: space-between;
}
.block{
    border: 2px black solid;
}
.block-dotted{
    border: 2px black dotted;
}
.head{
    font-style: italic;
    font-weight: bold;
}
.col-4 img{
    width: 300px;
    border: 2px black solid;
    border-radius: 10px;
}
.footer{
    background-color: antiquewhite;
}
.txt-left{
    text-align: left;
}