.my-f{
    background-color: rgb(68, 131, 187);
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px;
    width: 560px;
    height: 440px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.but{
    background-color: rgb(230, 5, 5);
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

.form-1{
    font-weight: 400;
    font-size: x-large;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 5px;
}

.rec{
    border:2px rgb(0, 250, 17) dotted;
    margin: 10px;
    position: relative;
}
.sqr{
    border:2px rgb(239, 13, 13) solid;
    background-color: bisque;
    margin: 30px;
    padding: 30px;
    /* float: right; */
    position: absolute;
    right: 100px;
    width: 100px;
    animation-name: jk;
    animation-duration: 4s;
    animation-iteration-count: 15;
    transition: width 2s;   
}
@keyframes jk {
    from{background-color: rgb(253, 0, 0);};
}
.sqr:hover{
    width: 1000px;
}
.div3{
    border:2px rgb(84, 35, 80) dotted;
    background-color: rgb(98, 236, 192);
    
}
